volumes:
  node_modules:


services:
  frontend:
    image: pc-frontend-dev
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    command: sh -c "npm install && npm run dev"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
    tty: true
    environment:
      - NODE_ENV=development
