services:
  frontend:
    image: pc-frontend-dev
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    command: npm run dev
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    tty: true
    environment:
      - NODE_ENV=development
