// Main Style

// General
@import "variables";
@import "vendor/bootstrap-includes";
@import "helpers/all";
@import "global";
@import "components/all";
@import "pages/all";

body {
    background-color:$websiteBackgroundColor;
}

a {
  color: $verde;
}

.card {
    background-color: $bege-claro;
}

.icon-code-branch {
    color: $verde;
}

.icon-social {
  color: $verde;
}

.nav-link {
    color: $verde;
    border-radius: 5px;
}

.nav-link.active {
    background-color: $verde;
    color: $websiteBackgroundColor !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

.nav-link.active:has(img) {
    background-color: transparent;
    color: initial;
    box-shadow: none;
    text-shadow: none;
}

.footer-text a {
    color: $verde;
}

// Cores

.fg-primary {
  color: $verde
}

.bg-primary {
  background-color: $verde
}

.fg-secondary {
  color: $bege
}

.bg-secondary {
  background-color: $bege
}

// Texto
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.btn {
  background-color: $verde;
  border-color: $verde;
  color: white;
}

.btn-primary {
  background-color: $verde;
  color: white;
}

.btn.disabled,
.btn:active,
.btn:disabled {
  background-color: $verde; /* ou cor verde que você usa */
  color: white;
  opacity: 0.7; /* opcional, para indicar disabled sem mudar cor */
  cursor: not-allowed;
  box-shadow: none;
  /* evitar qualquer mudança para cor "padrão" do navegador */
}
.btn-primary:active,
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: $verde !important; /* ou o verde que você usa */
  border-color: $verde !important;
  opacity: 0.7; /* Opcional: para manter o visual de disabled */
  color: white; /* Garantir contraste */
}
// Inputs
.btn:hover {
  background-color: $verde;
  border-color: $verde;
}

.form-check-input:checked {
  background-color: $verde;
  border-color: $verde;
}

// Cards
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-header {
  margin: 0;
}

// Table
.table-wrapper {
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
table {
  border-collapse: separate;
  border-spacing: 2px 0;
}
table thead tr th {
  background-color: $verde !important;
  color: white !important;
}
table thead tr th:first-child {
  border-top-left-radius: 10px;
}
table thead tr th:last-child {
  border-top-right-radius: 10px;
}
table tbody tr td {
  background-color: $bege-claro !important;
}
table tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}
table tbody tr:last-child td:nth-last-child(2){
  border-bottom-left-radius: 10px;
}
