.paragrafo { text-indent: 3em }
.justificado {
    text-align: justify;
    text-justify: inter-word;
}

// BlogList
.tag-list a {
  display: inline-block;
  padding: 4px;
}

.card-text p {
  text-indent: 2em;
}
