name: Cleanup Release-Please Branches

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  delete-release-branches:
    runs-on: ubuntu-latest
    steps:
      - name: List release-please branches
        env:
          GH_TOKEN: ${{ secrets.GH_BRANCHES }}
        run: |
          echo "Finding release-please branches..."
          branches=$(gh api repos/${{ github.repository }}/branches --jq '.[] | select(.name | startswith("release-please--branches--")) | .name')
          echo "$branches" > branches.txt

      - name: Delete branches
        run: |
          while read branch; do
            echo "Deleting branch $branch"
            gh api -X DELETE repos/${{ github.repository }}/git/refs/heads/$branch
          done < branches.txt

