version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "dev"
    commit-message:
      prefix: "chore(deps)"
      include: scope
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "react"
        versions:
          - "18.3.x"
