name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name:
        uses: googleapis/release-please-action@v4
        with:
          release-type: node
          target-branch: main
