name: Release

on:
  workflow_dispatch:
    inputs:
      release_branch:
        description: 'Branch containing next release'
        default: dev

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout release branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.release_branch }}
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run release-please
        uses: googleapis/release-please-action@v4
        with:
          release-type: node
          target-branch: main
          package-name: romweb-frontend
